.container {
    width: 800px;
    height: 800px;
    border: 1px solid black;
    margin: 0 auto;
};

.modal {
    width: 200px;
    height: 200px;
    border: 1px solid yellow;
};

.test {
    outline: 1px solid green;
}